<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Searchbar
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [ngModel]="query" (ngModelChange)=queryInputChanged($event)></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [inset]="true">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
  </ion-list>
</ion-content>
